@import './footer.css';
@import './nav.css';
@import './reset.css';

body {
    background-color: #EEEEEE;
    color: #454545;
}

#cs {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(200px);
}