@import './footer.css';
@import './nav.css';
@import './reset.css';

body {
    background-color: #EEEEEE;
    color: #454545;
    line-height: 25px;
    
}

#resume {
    overflow: auto;
    /* display: table; */
    max-width: 1000px;
    margin: 2em auto;
    margin-top: 40px;
    padding: 10px;
    text-align: center;

}

#resume div {
    height: 100%;
}

#skills-container {
    display: flex;
    align-content: center;
    list-style: none;
    flex-direction: column;

}

#work-container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}



